obj
craftos
/.vs
/Debug
/packages
/x64
CraftOS-PC.app
/autoscan.log
/configure
/configure.ac
/Makefile - Copy
/autom4te.cache
/CraftOS-PC
/CraftOS-PC.xcodeproj
ccemux.dylib
.vscode/c_cpp_properties.json
codesign
