obj
craftos
/.vs
/Debug
/packages
/x64
CraftOS-PC.app
/autoscan.log
/Makefile - Copy
/autom4te.cache
/CraftOS-PC
/CraftOS-PC.xcodeproj
/ccemux.*
.vscode/c_cpp_properties.json
codesign
CraftOS-PC 2.code-workspace
Makefile
config.log
config.status
CraftOS-PC.dmg
.DS_Store
example_peripheral.dylib
craftos.html*
craftos.was*
craftos.*js
CraftOS-PC.html
*.dSYM
/src/lua51.lib
