<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.9.5</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>craftos</string>
	<key>CFBundleIconFile</key>
	<string>CraftOS-PC.icns</string>
	<key>CFBundleIdentifier</key>
	<string>CraftOS-PC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CraftOS-PC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSApplicationCategoryType</key>
	<string>Unknown</string>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2019 JackMacWindows.</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
</dict>
</plist>
