<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dirent" version="1.13.1" targetFramework="native" />
  <package id="luajit.native" version="2.0.5" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.10" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.10" targetFramework="native" />
  <package id="vii.SDL2_mixer" version="2.0.2" targetFramework="native" />
  <package id="vii.SDL2_mixer.redist" version="2.0.2" targetFramework="native" />
</packages>