# SPDX-FileCopyrightText: 2019-2024 JackMacWindows
#
# SPDX-License-Identifier: MIT

[Desktop Entry]
Version=1.0
Name=CraftOS-PC
GenericName=Advanced ComputerCraft emulator
Exec=craftos
Icon=craftos
StartupWMClass=craftos
Terminal=false
Type=Application
Categories=Utility;Development;
Keywords=craftos;computercraft;emulator;
