name: CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Download ROM
      run: sudo git clone https://github.com/MCJack123/craftos2-rom /usr/share/craftos
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y liblua5.1-0-dev libsdl2-dev libsdl2-mixer-dev libhpdf-dev libpng++-dev libpoco-dev libncurses5-dev
    - name: Build CraftOS-PC
      run: |
        ./configure
        make
    - name: Run CraftOSTest
      run: make test
